<div class="col-lg-12 display-5">
	<h3>{{title}}</h3>
	<div class="row">
		<div class="col-lg-1">Buscar:</div>		
		<div class="col-lg-3">
			<input type="text" [(ngModel)]="busqueda" />
		</div>
		<div class="label label-success" *ngIf="busqueda">
			Estas buscando: {{busqueda}}
		</div>
	</div>
	<br/>
	<table class="table table-hover">
		<thead class="thead-default">
			<tr>
				<th>Nombre</th>
				<th>Año</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let animal of animals | search: busqueda">
				<td>{{animal.name}}</td>
				<td>{{animal.year}}</td>
				<td>
					<a [routerLink]="['/animal', animal._id]" class="btn btn-sm btn-success">
						<span class="glyphicon glyphicon-eye-open"></span>
						Ver
					</a>
					<a [routerLink]="['/admin-panel/editar', animal._id]" class="btn btn-sm btn-primary">
						<span class="glyphicon glyphicon-pencil"></span>
						Editar
					</a>
					<a href="#myModal-{{animal._id}}" role="button" data-toggle="modal" class="btn btn-sm btn-danger">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						Eliminar
					</a>

					<!-- Modal HTML -->
					<div id="myModal-{{animal._id}}" class="modal">
					    <div class="modal-dialog">
						    <div class="modal-content">
						        <div class="modal-header">
						            <h5 class="modal-title">Estas seguro?</h5>
						            <button type="button" class="close" data-dismiss="modal">&times;</button>               
						        </div>
						        <div class="modal-body">
						            <p>Seguro que quieres eliminar este animal <strong>{{animal.name}}</strong>?</p>
   						            <p>Seguro que quieres eliminar este animal <strong>{{animal._id}}</strong>?</p>
						            <p class="text-secondary"><small>Si borras este animal no podras recuperarlo.</small></p>
						        </div>
						        <div class="modal-footer">
						            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						            <button type="button" class="btn btn-danger" (click)="deleteAnimal(animal._id)">Borrar</button>
						        </div>
						    </div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

