<div class="col-lg-6">
	<h3>{{title}}</h3>
	<form #registerForm="ngForm" (ngSubmit)="onSumbit()" class="col-lg-10">
		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
			<span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
		</p>
		<p>
			<label for="surname">Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required/>
			<span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorios</span>
		</p>
		<p>
			<label for="email">Correo Electronico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required/>
			<span *ngIf="!email.valid && email.touched">Correo electronico es obligatorio</span>
		</p>
		<p>
			<label for="password">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
			<span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
		</p>
		<input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!registerForm.form.valid" />
	</form>

</div>
