<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation col-lg-12 display-4">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a [routerLink]="['/home']" class="navbar-brand">{{ title }}</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/home']" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-home"></span>
					Home
				</a>
				</li>
				<li><a [routerLink]="['/tienda']" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-screenshot"></span>Tienda</a></li>
				<li><a [routerLink]="['/animals']" [routerLinkActive]="['actived']"> <span class="glyphicon glyphicon-star"></span>Animals</a></li>
				<li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-picture"></span>Contact</a></li>
				<li><a [routerLink]="['/keeper']" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-user"></span>Keeper</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="!identity">
				<li>
					<a [routerLink]="['/register']" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-user"></span>Registro</a>
				</li>
				<li>
					<a [routerLink]="['/login']" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-log-in"></span>Login</a>
				</li>	
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="identity">
				<li class="avatar">
					<img src="{{url + 'get-image-file/' + identity.image}}" />
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						{{identity.name}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
							<a class="pointer" [routerLink]="['/admin-panel']">
								<span class="glyphicon glyphicon-tasks"></span>
								Administracion
							</a>
						</li>
						<li>
							<a class="pointer" [routerLink]="['/mis-datos']">
								<span class="glyphicon glyphicon-cog"></span>
								Mis datos
							</a>
						</li>		
						<li (click)="logout()">
							<a class="pointer">
								<span class="glyphicon glyphicon-log-out"></span>
								Logout
							</a>
						</li>		
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>
  <!--<tienda></tienda>-->
  <!--En esta etiqueta <router-outlet></router-outlet> se van a cargar todos los compoenentes de las rutas-->
<div class="col-lg-11">  
	<router-outlet></router-outlet>
</div>


