<div class="col-lg-6">
	<h1 class="titulo">{{title}}</h1>
	<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
		<p>
			<label for="email">Correo Electronico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required/>
			<span *ngIf="!email.valid && email.touched">Correo electronico es obligatorio</span>
		</p>
		<p>
			<label for="password">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
			<span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
		</p>
		<input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!loginForm.form.valid" />
	</form>

</div>