.navbar-nav{
	flex-direction: row;
}

body > app-root > div > nav > div > ul > li{
	margin-left: 15px;
}

.navigation.col-lg-12{
	margin-top: 10px;
}

.jumbotron{
	padding: 40px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #ccc;
}

.btn.btn-primary.btn-lg,
.btn.btn-success.btn-lg,
.btn.btn-success.btn-lg {
	margin-right: 4px;
}

.navbar-nav .actived{
	border-bottom: 3px solid orange !important;
}

.navbar-default .navbar-nav>li>a{
	transition: all 300ms;
	border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav>li>a:hover{
	transition: all 300ms;
	border-bottom: 3px solid orange;
}

.image_for_edit img {
	width: 150px;"
}

.avatar {
	width: 35px;
	height: 35px;
	border-radius: 700px;
	overflow: hidden;
	margin-top: 9px;
	margin-right: 2px;
}

.avatar img {
	height: 55px;
}

.boton_transiciones{
	padding: 10px;
	background: red;
	color: white;
	border-radius: 20px;
	border: 4px solid green;
	transition: all 2s;
}

.boton_transiciones:hover{
	text-decoration: none;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	background: #ccc;
	border: 1px solid black;
}

.titulo{
	margin-left: 15px;
	margin-bottom: 15px;
}

.pointer{
	cursor: pointer;
}